# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Vitest / Coverage
coverage/
.vitest-result/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env